In [1]:
# dictionary

#-indexing
#-ordered
#-multiple data
#-mutable
#-key value pair
#-Keys should be unique

In [2]:
d={'a':'Apple','b':'Ball','c':'Cat'}
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [3]:
print(d['a'])

Apple

In [4]:
len(d)

3

In [5]:
# No + * used in dictionary

In [8]:
d={'a':'Apple','b':'Ball','c':'Cat'}

for i in d:
    print(i, end=" ")

a b c

In [9]:
d={'a':'Apple','b':'Ball','c':'Cat'}

for i in d.values():
    print(i, end=" ")

Apple Ball Cat

In [14]:
d={
    'a':'Apple',
    'b':'Ball',
    'c':'Cat'}

for i in d.items():
    print(i, end=" ")

print(d.values())

('a', 'Apple') ('b', 'Ball') ('c', 'Cat') dict_values(['Apple', 'Ball', 'Cat'])

In [16]:
a = [['a', 'Apple'],['b','Ball'],['c','Cat']]       #list to dictionary
dict(a)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [20]:
a= {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}        #dictionary to list
list(a.items())

[('a', 'Apple'), ('b', 'Ball'), ('c', 'Cat')]

In [25]:
# create a dictionary

#d = dict()

d = {}
d['a']='Apple'
d['b']='Ball'
d['c']='Cat'
d['d']='Dog'
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}

In [22]:
d = dict()
d

{}

In [26]:
#d=dict()           #fnctions to create empty list and dictionary
#l=list()

In [28]:
a= {'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}   #updating
a['a']='Ant'
a

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}

In [29]:
# delete
# del pop()

a= {'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'} 
del a['d']
print(a)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [32]:
a= {'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'} 
b= a.pop('d')
print(a)
print(b)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
Dog

In [34]:
a= {'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}      #no remove function in dictionary
a.remove('Apple')
a

AttributeError: 'dict' object has no attribute 'remove'

In [1]:
d = {}
n = int(input("Enter the value of n: "))
for i in range(n):
    name = input("Enter name: ")
    phone = input("Enter phone: ")
    d[phone]= name
    
print(d)

Enter the value of n: 2
Enter name: Ram
Enter phone: 8478483
Enter name: Hari
Enter phone: 9484343
{'8478483': 'Ram', '9484343': 'Hari'}

In [2]:
d = {}                                                      #duplicate values ma cause issues, Ram can have more than one number
n = int(input("Enter the value of n: "))
for i in range(n):
    name = input("Enter name: ")
    phone = input("Enter phone: ")
    d[name]= phone
    
print(d)

Enter the value of n: 2
Enter name: Ram
Enter phone: 988838438
Enter name: Hari
Enter phone: 988842822
{'Ram': '988838438', 'Hari': '988842822'}

In [3]:
# list inside dict

d={
    'Ram': [988838438,987473747], 
    'Hari': [988842822,98834384]}
print(d)

{'Ram': [988838438, 987473747], 'Hari': [988842822, 98834384]}

In [4]:
d['Ram']

[988838438, 987473747]

In [9]:
print(d['Ram'][0])
print(d['Hari'][1])

988838438
98834384

In [11]:
d = {}                                                      
n = int(input("Enter the value of n: "))
for i in range(n):
    name = input("Enter name: ")
    ntc_phone = int(input("Enter ntc number: "))
    ncell_phone=int(input("Enter ncell number"))
    d[name]= [ntc_phone,ncell_phone]
    
print(d)

Enter the value of n: 2
Enter name: Ram
Enter ntc number: 9848384337
Enter ncell number98437433848
Enter name: Hari
Enter ntc number: 887493949
Enter ncell number984737433
{'Ram': [9848384337, 98437433848], 'Hari': [887493949, 984737433]}

In [13]:
d = {'name':['Ram','Shyam','Ram'],
    'ntc_phone':[9477983473,9847737423,988473742],
    'ncell_phone':[98847374,9834324342,983843473]}
print(d)

{'name': ['Ram', 'Shyam', 'Ram'], 'ntc_phone': [9477983473, 9847737423, 988473742], 'ncell_phone': [98847374, 9834324342, 983843473]}

In [15]:
d = {'name':[],                                       #define the dicionary structure ate the beginning
    'ntc_phone':[],
    'ncell_phone':[]}
n = int(input("Enter the value of n= "))
for i in range(n):
    name = input("Enter name: ")
    ntc_phone = int(input("Enter ntc number: "))
    ncell_phone=int(input("Enter ncell number:"))
    d['name'].append(name)                              #appending the values just like list
    d['ntc_phone'].append(ntc_phone)
    d['ncell_phone'].append(ncell_phone)
    
print(d)

Enter the value of n= 2
Enter name: Ram
Enter ntc number: 987737431
Enter ncell number:97843824
Enter name: Hari
Enter ntc number: 98473483
Enter ncell number:96732848
{'name': ['Ram', 'Hari'], 'ntc_phone': [987737431, 98473483], 'ncell_phone': [97843824, 96732848]}

In [17]:
print(d['name'][1],d['ntc_phone'][1],d['ncell_phone'][1])

Hari 98473483 96732848

In [18]:
# dictionary inside list

d=[{'name':'Ram','age':34,'add':'Kathmandu'},
  {'name':'Shyam','age':37,'add':'Pokhara'},
  {'name':'Hari','age':32,'add':'Lalitpur'}]
print(d)                           #it prints list not dict

[{'name': 'Ram', 'age': 34, 'add': 'Kathmandu'}, {'name': 'Shyam', 'age': 37, 'add': 'Pokhara'}, {'name': 'Hari', 'age': 32, 'add': 'Lalitpur'}]

In [19]:
d[0]                           #accessing the items in list

{'name': 'Ram', 'age': 34, 'add': 'Kathmandu'}

In [20]:
d[1]

{'name': 'Shyam', 'age': 37, 'add': 'Pokhara'}

In [21]:
d = []
n = int(input("Enter the value of n= "))
for i in range(n):
    name = input("Enter the name: ")
    age = input("Enter the age: ")
    add = input("Enter the address: ")
    x= {'name':name,'age':age,'add':add}
    d.append(x)
    
print(d)

Enter the value of n= 2
Enter the name: Ram
Enter the age: 35
Enter the address: Pokhara
Enter the name: Hari
Enter the age: 32
Enter the address: Kathmandu
[{'name': 'Ram', 'age': '35', 'add': 'Pokhara'}, {'name': 'Hari', 'age': '32', 'add': 'Kathmandu'}]

In [1]:
# dictionary inside dictionary i.e. nested dictionary

In [3]:
d = {1:{'name': 'Ram', 'age': 34, 'add': 'Kathmandu'}, 
       2: {'name': 'Shyam', 'age': 37, 'add': 'Pokhara'}, 
        3:{'name': 'Hari', 'age': 32, 'add': 'Lalitpur'}}
print(type(d))

<class 'dict'>

In [4]:
print(d[1])

{'name': 'Ram', 'age': 34, 'add': 'Kathmandu'}

In [6]:
d = {}
n = int(input("Enter the value of n= "))
for i in range(1,n+1):
    name = input("Enter the name: ")
    age = input("Enter the age: ")
    add = input("Enter the address: ")
    x= {'name':name,'age':age,'add':add}
    d[i]=x
    
print(d)

Enter the value of n= 2
Enter the name: Ram
Enter the age: 35
Enter the address: Pokhara
Enter the name: Hari
Enter the age: 37
Enter the address: Kathmandu
{1: {'name': 'Ram', 'age': '35', 'add': 'Pokhara'}, 2: {'name': 'Hari', 'age': '37', 'add': 'Kathmandu'}}

In [10]:
d[1]

{'name': 'Ram', 'age': '35', 'add': 'Pokhara'}

In [12]:
d[2]['name']

'Hari'

In [14]:
d[2]['name'] = "Hari Sharma"              #updating name
d

{1: {'name': 'Ram', 'age': '35', 'add': 'Pokhara'},
 2: {'name': 'Hari Sharma', 'age': '37', 'add': 'Kathmandu'}}

In [16]:
a = {1: {'name': 'Ram', 'age': '35', 'add': 'Pokhara'},           #deleting
     2: {'name': 'Hari', 'age': '37', 'add': 'Kathmandu'}}
del a[1]
print(a)

{2: {'name': 'Hari', 'age': '37', 'add': 'Kathmandu'}}

In [21]:
a = {1: {'name': 'Ram', 'age': '35', 'add':{'per': 'Pokhara','temp': 'Beni'}},          
     2: {'name': 'Hari', 'age': '37', 'add':{'per': 'Kathmandu','temp':'Banepa'}}}
     
a

{1: {'name': 'Ram', 'age': '35', 'add': {'per': 'Pokhara', 'temp': 'Beni'}},
 2: {'name': 'Hari',
  'age': '37',
  'add': {'per': 'Kathmandu', 'temp': 'Banepa'}}}