In [1]:
#Python Collection
#list
#tuple
#dict
#set

In [2]:
#List
#-indexing
#-ordered
#-multiple and duplicate data
#-mutable

In [3]:
a= [1,2,3,4,5,6,7,8,9,0]
b= ["apple", "ball", "cat"]
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>

In [19]:
b= ["apple", "ball", "cat", "dog", "orange"]
print(b[0])
print(b[:4])
print(b[0:5:2])

apple
['apple', 'ball', 'cat', 'dog']
['apple', 'cat', 'orange']

In [20]:
a = [1,2,3,4,5]          
b = [6,7,8,9,0]
c = a+b                 #concatenation
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [21]:
a = [1,2,3,4,5]
print(a*2)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [27]:
b= ["apple", "ball", "cat", "dog", "orange"]
for i in b:
    print(i)

apple
ball
cat
dog
orange

In [28]:
#append() insert() extend()

In [3]:
#append

a=[]
n=int(input("Enter n= "))
for i in range(n):
    x=int(input("Enter x= "))
    a.append(x)

    print(a)

Enter n= 3
Enter x= 45
[45]
Enter x= 477
[45, 477]
Enter x= 48
[45, 477, 48]

In [4]:
a

[45, 477, 48]

In [6]:
print("The max value = ", max(a))
print("The min value = ", min(a))
print("The sum of values = ", sum(a))
a.sort()
print(a)
a.reverse()
print(a)
a.append(576)
print(a)

The max value =  477
The min value =  45
The sum of values =  570
[45, 48, 477]
[477, 48, 45]
[477, 48, 45, 576]

In [8]:
a = ["Ball", "Apple", "Cat", "ant", "Xray", "Ball"]
a.sort()
print(a)

['Apple', 'Ball', 'Ball', 'Cat', 'Xray', 'ant']

In [12]:
a = ["Ball", "Apple", "Cat", "1ant", "_Xray", "Ball"]
a.sort()
print(a)

['1ant', 'Apple', 'Ball', 'Ball', 'Cat', '_Xray']

In [13]:
a = ["Ball", "Apple", "Cat", "1ant", ".Xray", "Ball"]
a.sort()
print(a)

['.Xray', '1ant', 'Apple', 'Ball', 'Ball', 'Cat']

In [14]:
a = ["Ball", "Apple", "Cat", "1ant", "@Xray", "Ball"]
a.sort()
print(a)

['1ant', '@Xray', 'Apple', 'Ball', 'Ball', 'Cat']

In [19]:
#insert

a = ["Ball", "Apple", "Cat", "1ant", "@Xray", "Ball"]
a.insert(5,"Banana")
print(a)

['Ball', 'Apple', 'Cat', '1ant', '@Xray', 'Banana', 'Ball']

In [23]:
#extend

a = ["Ball", "Apple", "Cat", "1ant", "@Xray", "Ball"]
b = [1,2,3,4,5,6,7,8,9,0]
a.extend(b)
print(a)

['Ball', 'Apple', 'Cat', '1ant', '@Xray', 'Ball', 1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [24]:
# Update list

a = ["Ball", "Apple", "Cat", "1ant", "@Xray", "Ball"]
a[0] = "ball"        #updating
print(a)

['ball', 'Apple', 'Cat', '1ant', '@Xray', 'Ball']

In [25]:
a = ["Ball", "Apple", "Cat", "1ant", "@Xray", "Ball"]
a[1] = ["ball", "apple"]               #updating
print(a)

['Ball', ['ball', 'apple'], 'Cat', '1ant', '@Xray', 'Ball']

In [26]:
a = ["Ball", "Apple", "Cat", "1ant", "@Xray", "Ball"]
a[1:2] = ["ball", "apple"]              #inserting when difference is index is 1
print(a)

['Ball', 'ball', 'apple', 'Cat', '1ant', '@Xray', 'Ball']

In [9]:
a = ["Ball", "Apple", "Cat", "1ant", "@Xray", "Ball"]
a[1:3] = ["ball", "apple"]              #updating 
print(a)

['Ball', 'ball', 'apple', '1ant', '@Xray', 'Ball']

In [28]:
# Removing values from list
#del remove() pop()

In [31]:
a = ["Ball", "Apple", "Cat", "1ant", "@Xray", "Ball"]
del a[0]
print(a)

['Apple', 'Cat', '1ant', '@Xray', 'Ball']

In [32]:
a = ["Ball", "Apple", "Cat", "1ant", "@Xray", "Ball"]
del a[0:3]
print(a)

['1ant', '@Xray', 'Ball']

In [34]:
#Finding index
a = ["Ball", "Apple", "Cat", "1ant", "@Xray", "Ball"]
print(a.index("Apple"))

1

In [38]:
#Multiple indexing

a = ["Ball", "Apple", "Cat", "1ant", "@Xray", "Ball", "Apple"]

i=0

while i<len(a):
    if a[i]=="Apple":
        print("Found index at", i)
    else:
        print("Finding...")
    i+=1

Finding...
Found index at 1
Finding...
Finding...
Finding...
Finding...
Found index at 6

In [14]:
a = [x.upper() for x in ["Ball", "Apple", "Cat", "1ant", "@Xray", "Ball", "Apple"]]
search= input("Enter search value= ").upper()

for i in range(len(a)):
    if a[i]==search:
        print("Found index at",i)
    else:
        print("Finding...")

print(a[1])

Enter search value= apple
Finding...
Found index at 1
Finding...
Finding...
Finding...
Finding...
Found index at 6
APPLE

In [45]:
#remove

a = ["Ball", "Apple", "Cat", "1ant", "@Xray", "Ball", "Apple"]
a.remove("Cat")
print(a)

['Ball', 'Apple', '1ant', '@Xray', 'Ball', 'Apple']

In [50]:

a = ["ball", "Apple", "Cat", "1ant", "@Xray", "Ball", "Apple"]
search= input("Enter the search value: ")
c= a.count(search)
for i in range(c):
    a.remove(search)
print(a)

Enter the search value: Apple
['ball', 'Cat', '1ant', '@Xray', 'Ball']

In [1]:
#pop

a = ["ball", "Apple", "Cat", "1ant", "@Xray", "Ball", "Apple"]
a.pop(0)
print(a)

['Apple', 'Cat', '1ant', '@Xray', 'Ball', 'Apple']

In [2]:
a = ["ball", "Apple", "Cat", "1ant", "@Xray", "Ball", "Apple"]
b = a.pop(4)
print(a)
print(b)

['ball', 'Apple', 'Cat', '1ant', 'Ball', 'Apple']
@Xray

In [1]:
# search in list

a= ['apple', 'Cat0', 'ant', 'Xray0', 'Ball', 'apple']
search = input("Enter search value: ")
if search in a:
    print("Yes")
    print(a.count(search))

Enter search value: apple
Yes
2

In [7]:
a= ['apple', 'Cat0', 'ant', 'Xray0', 'Ball', 'apple']
search = input("Enter search value: ")
c=0
for i in range(len(a)):
    if search.lower()==a[i].lower():
        c=c+1
    
if c>0:
    print("Yes there is such value")
else:
    print("There is no such value")

Enter search value: APPLE
Yes there is such value

In [10]:
a= [x.lower() for x in['apple', 'Cat0', 'ant', 'Xray0', 'Ball', 'apple']]
search = input("Enter search value: ").lower()
if search in a:
    print("Yes")
    print(a.count(search))
print(a)

Enter search value: APPLE
Yes
2
['apple', 'cat0', 'ant', 'xray0', 'ball', 'apple']

In [11]:
#list inside list

a = [[1,2,3],
    [4,5,6],
    [7,8,9]]

In [16]:
info=[['Ram', 25,'Pokhara'],
     ['Hari',35,'Kathmandu'],
     ['Kiran',27,'Birgunj']]
print(info)

[['Ram', 25, 'Pokhara'], ['Hari', 35, 'Kathmandu'], ['Kiran', 27, 'Birgunj']]

In [13]:
info[0]

['Ram', 25, 'Pokhara']

In [14]:
info[0][0]

'Ram'

In [17]:
info[1][2]

'Kathmandu'

In [2]:
info=[]
n = int(input("Enter the value of n: "))
for i in range(n):
    name= input("Enter the name: ")
    age= int(input("Enter the age: "))
    add= input("Enter the address: ")
    x= [name, age, add]
    info.append(x)
    
print(info)

Enter the value of n: 4
Enter the name: Ram
Enter the age: 34
Enter the address: Kathmandu
Enter the name: Hari
Enter the age: 36
Enter the address: Pokhara
Enter the name: Sita
Enter the age: 38
Enter the address: Lalitpur
Enter the name: Pawan
Enter the age: 27
Enter the address: Bhaktapur
[['Ram', 34, 'Kathmandu'], ['Hari', 36, 'Pokhara'], ['Sita', 38, 'Lalitpur'], ['Pawan', 27, 'Bhaktapur']]

In [3]:
len(info)

4

In [4]:
for i in info:      #viewing all the records
    print(i)

['Ram', 34, 'Kathmandu']
['Hari', 36, 'Pokhara']
['Sita', 38, 'Lalitpur']
['Pawan', 27, 'Bhaktapur']

In [24]:
name=input("Enter the name: ")
for i in info:
    if name.lower()== i[0].lower():
        print(i)

Enter the name: RAM
['Ram', 34, 'Kathmandu']

In [8]:
name=int(input("Enter the age: "))   
for i in info: 
    if i[1]>=age:
        print(i)

Enter the age: 35
['Ram', 34, 'Kathmandu']
['Hari', 36, 'Pokhara']
['Sita', 38, 'Lalitpur']
['Pawan', 27, 'Bhaktapur']

In [25]:
#update

info[0]= ['ram',34,'ktm']
info

[['ram', 34, 'ktm'],
 ['Hari', 36, 'Pokhara'],
 ['Sita', 38, 'Lalitpur'],
 ['Pawan', 27, 'Bhaktapur']]

In [27]:
info[0][0]='Shyam'
info

[['Shyam', 34, 'ktm'],
 ['Hari', 36, 'Pokhara'],
 ['Sita', 38, 'Lalitpur'],
 ['Pawan', 27, 'Bhaktapur']]

In [37]:
# delete
# del remove() pop()

In [6]:
info = [['Shyam', 34, 'ktm'],
 ['Hari', 36, 'Pokhara'],
 ['Sita', 38, 'Lalitpur'],
 ['Pawan', 27, 'Bhaktapur']]

In [3]:
info = [['Shyam', 34, 'ktm'],
 ['Hari', 36, 'Pokhara'],
 ['Sita', 38, 'Lalitpur'],
 ['Pawan', 27, 'Bhaktapur']]

info.remove(['Shyam', 34, 'ktm'])
info

[['Hari', 36, 'Pokhara'], ['Sita', 38, 'Lalitpur'], ['Pawan', 27, 'Bhaktapur']]

In [5]:
del info[0]
info

[['Pawan', 27, 'Bhaktapur']]

In [9]:
name=input("Enter the name: ")      #removing after search
for i in info:
    if name in i:
        info.remove(i)
print(info)

Enter the name: Shyam
[['Hari', 36, 'Pokhara'], ['Sita', 38, 'Lalitpur'], ['Pawan', 27, 'Bhaktapur']]

In [ ]:
info = [['Shyam', 34, 'ktm', 50000],
 ['Hari', 36, 'Pokhara', 40000],
 ['Sita', 38, 'Lalitpur', 35000],
 ['Pawan', 27, 'Bhaktapur', 60000]]

newinfo=[]
salary=int(input("Enter salary"))
for i in info:
    if salary in info:
        info[][3]==