In [1]:
#while loop
#for loop

In [2]:
#for loop
#range(5)        # 0,1,2,3,4
#range(1,5)      # 1,2,3,4
#range9(1,10,2)  # 1,3,5,7,9

In [3]:
for i in range(10):    
    print(i,"Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World
5 Hello World
6 Hello World
7 Hello World
8 Hello World
9 Hello World

In [4]:
for i in range(1,10):
    print(i,"Hello World")

1 Hello World
2 Hello World
3 Hello World
4 Hello World
5 Hello World
6 Hello World
7 Hello World
8 Hello World
9 Hello World

In [5]:
for i in range(1,10,3):
    print(i,"Hello World")

1 Hello World
4 Hello World
7 Hello World

In [6]:
for i in range(5,0,-1):     #decreasing step
    print(i,"Hello")

5 Hello
4 Hello
3 Hello
2 Hello
1 Hello

In [2]:
a=int(input("Enter a= "))
for i in range(1,11):
    print(i*a)

Enter a= 5
5
10
15
20
25
30
35
40
45
50

In [3]:
a=int(input("Enter a= "))
for i in range(1,11):
    print(a,"*",i,"=",i*a)

Enter a= 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [1]:
n = int(input("Enter n= "))
for i in range(n):
    a = int(input("Enter value of a: "))

Enter n= 6
Enter value of a: 56
Enter value of a: 35
Enter value of a: 67
Enter value of a: 24
Enter value of a: 57
Enter value of a: 26

In [2]:
s = 0

for i in range(6):
    a = int(input("Enter value of a: "))
    s=s + a
    print(s)

Enter value of a: 1000
1000
Enter value of a: 2000
3000
Enter value of a: 3000
6000
Enter value of a: 4000
10000
Enter value of a: 5000
15000
Enter value of a: 6000
21000

###

In [2]:
s = 2500

for i in range(6):
    a = int(input("Enter value of a: "))
    s=s + a
print(s)

Enter value of a: 1000
Enter value of a: 2000
Enter value of a: 3000
Enter value of a: 4000
Enter value of a: 5000
Enter value of a: 6000
23500

In [1]:
#s = str()    #empty string
s = ""        #empty string

for i in range(6):
    a = input("Enter value of a: ")
    s=s + a + "\n"
    print(s)

Enter value of a: Ram
Ram

Enter value of a: Pawan
Ram
Pawan

Enter value of a: Hari
Ram
Pawan
Hari

Enter value of a: Sandeep
Ram
Pawan
Hari
Sandeep

Enter value of a: Yogesh
Ram
Pawan
Hari
Sandeep
Yogesh

Enter value of a: Sita
Ram
Pawan
Hari
Sandeep
Yogesh
Sita

In [6]:
s= ""
n=int(input("Enter the value of n: "))
for i in range(n):
    name= input("Enter the name: ")
    phone= input("Enter the phone: ")
    s= s+ name +" "+ phone +"\n"
    
print(s)

Enter the value of n: 2
Enter the name: Nikesh
Enter the phone: 877742
Enter the name: Umesh
Enter the phone: 988434
Nikesh 877742
Umesh 988434

In [3]:
#name, price, quantity, total, all_total

bill=""                                 #empty string #variable to be updated
all_total=0                             #variable to be updated
n= int(input("Enter n= "))
for i in range(n):
    name=input("Enter product name: ")
    price=float(input("Enter the price: "))
    qty=int(input("Enter the quantity: "))
    total=price*qty
    bill=bill+name+" "+str(price)+" "+str(qty)+" "+str(total)+"\n"
    all_total = all_total+total
print(bill)
print(all_total)

Enter n= 2
Enter product name: Pen
Enter the price: 20
Enter the quantity: 45
Enter product name: Copy
Enter the price: 08
Enter the quantity: 4
Pen 20.0 45 900.0
Copy 8.0 4 32.0

932.0

In [4]:
s=0                       #sum
n= int(input("Enter n= "))
for i in range(1,n+1):
    s=s+i
print(s)

Enter n= 5
15

In [9]:
n=int(input("Enter n= "))
fact=1                    #factorial

for i in range(1,n+1):
    fact*=i
print(fact)

Enter n= 5
120

In [11]:
for i in range(5):
    print(i* "*")

*
**
***
****

In [12]:
n=5
for i in range(5):
    print((n-i)*" ",2*i * "*")

     **
    ****
   ******
  ********

In [23]:
n=5
for i in range(5):
    print((n-i)*" ",(2*i-1) * "o")

     o
    ooo
   ooooo
  ooooooo

In [3]:
n=10
for i in range(1,n):
    print((n-i)*" ",(2*i-1) * "o")
for i in range(n,-1,-1):
    print((n-i)*" ",(2*i-1) * "o")

          o
         ooo
        ooooo
       ooooooo
      ooooooooo
     ooooooooooo
    ooooooooooooo
   ooooooooooooooo
  ooooooooooooooooo
 ooooooooooooooooooo
  ooooooooooooooooo
   ooooooooooooooo
    ooooooooooooo
     ooooooooooo
      ooooooooo
       ooooooo
        ooooo
         ooo
          o

In [31]:
#loop in string

a= "Hello World"
for i in a:
    print(i, "Hello")

H Hello
e Hello
l Hello
l Hello
o Hello
  Hello
W Hello
o Hello
r Hello
l Hello
d Hello

In [34]:
a= "Hello World"
for i in a:
    print(i, end=".")     #print horizontally

H.e.l.l.o. .W.o.r.l.d.

In [33]:
for i in range(5):
    print(i,end="_")

0_1_2_3_4_

In [36]:
a= "Hello World"
for i in a:
    if i != " ":          #space not printed
         print(i, end="")

HelloWorld

In [38]:
for i in range(0,21):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19

In [39]:
a= "Hello World. I am Ram !"
for i in a:
    if i != ".":                # space not printed
         print(i, end="")

Hello World I am Ram !

In [44]:
a= "Hello World. I am Ram !"
for i in a:
    if i != "." and i !="!":    # . and ! not printed      
         print(i, end="")

Hello World I am Ram

In [1]:
#break statement

for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [5]:
#continue stateent

for i in range(10):
    if i==5:
        continue
    print(i, end=" ")

0 1 2 3 4 6 7 8 9

In [8]:
a= "Hello World"
for i in a:
    if i== " ":
        continue
    print(i)

H
e
l
l
o
W
o
r
l
d

In [12]:
a = "Hello World. I am Python."
for i in a:
    if i==".":
        break
    print(i, end="")

Hello World

In [13]:
#pass statement

a=5
if a==5:
    pass

In [14]:
for i in range(5):
    pass

In [8]:
#for else loop        checks condition for multiple times if it is false

#prime->2,3,5,7,11,13,17
#composite->4,6,8,9,10,12

n= int(input("Enter n= "))
if n>2:
    for i in range(2,n):
        if n%i==0:
            print("The number is composite!", n)
            break
    else:
        print("The number is prime!", n)
else:
    print("The value of n should be greater than 2")

Enter n= 5
The number is prime! 5

In [1]:
# while loop

a=0
while a<=5:
    print(a,"Hello World")
    a+=1
print(a)

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World
5 Hello World
6

In [2]:
a=0                            #value initialization
while a<=5:
    print(a,"Hello World")
    a+=.5                      #we can control the no of loops in while loop so loop can run anyy times not 6
print(a)

0 Hello World
0.5 Hello World
1.0 Hello World
1.5 Hello World
2.0 Hello World
2.5 Hello World
3.0 Hello World
3.5 Hello World
4.0 Hello World
4.5 Hello World
5.0 Hello World
5.5

In [3]:
a=5                   #value initialization    
while a>=0:
    print(a,"Hello World")
    a-=1                      
print(a)

5 Hello World
4 Hello World
3 Hello World
2 Hello World
1 Hello World
0 Hello World
-1

In [9]:
i = 1

a= int(input("Enter a= "))
while i<=20:
    print(a,"*",i,"=",a*i)
    i+=1
print(i)

Enter a= 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60
5 * 13 = 65
5 * 14 = 70
5 * 15 = 75
5 * 16 = 80
5 * 17 = 85
5 * 18 = 90
5 * 19 = 95
5 * 20 = 100
21

In [11]:
s = 0
i = 0
while i<5:
    a = int(input("Enter value of a: "))
    s=s + a
    i+=1
print("Total=",s)

Enter value of a: 100
Enter value of a: 200
Enter value of a: 300
Enter value of a: 400
Enter value of a: 500
Total= 1500

In [13]:
i=0
bill=""                                 #empty string #variable to be updated
all_total=0                             #variable to be updated
n= int(input("Enter n= "))

while i<n:
    name=input("Enter product name: ")
    price=float(input("Enter the price: "))
    qty=int(input("Enter the quantity: "))
    total=price*qty
    bill=bill+name+" "+str(price)+" "+str(qty)+" "+str(total)+"\n"
    all_total = all_total+total
    i+=1
    
print(bill)
print(all_total)

Enter n= 3
Enter product name: pen
Enter the price: 10
Enter the quantity: 6
Enter product name: Copy
Enter the price: 50
Enter the quantity: 8
Enter product name: Book
Enter the price: 150
Enter the quantity: 5
pen 10.0 6 60.0
Copy 50.0 8 400.0
Book 150.0 5 750.0

1210.0

In [16]:
i=0

while i<=10:
    print(i)
    if i==5:
        break
    i+=1
    
print("End of loop")

0
1
2
3
4
5
End of loop

In [17]:
i=0
while i<=10:
 if i%2==0:
    i+=1
    continue
 print(i)
 i+=1
 

print("End of loop")

1
3
5
7
9
End of loop

In [3]:
i=0

while i<=10:
    
    if i==5:
        i+=1
        continue
    print(i)
    i+=1
    
print("End of loop")

0
1
2
3
4
6
7
8
9
10
End of loop