In [1]:
#set
#-No indexing
#-Unordered
#-Multiple data but no duplicates
#-Mutable

In [2]:
a = set()

In [4]:
a = {'Apple','Ball','Cat','Dog','Fish'}
print(a)

{'Apple', 'Ball', 'Fish', 'Dog', 'Cat'}

In [6]:
print(a[0])               #no indexing

TypeError: 'set' object is not subscriptable

In [7]:
a = {'Apple','Ball','Cat','Dog','Fish','Apple'}        #No duplicate value
print(a)

{'Apple', 'Ball', 'Fish', 'Dog', 'Cat'}

In [8]:
a = {'Apple','Ball','Cat','Dog','Fish','Apple'} 
for i in a:
    print(i)

Apple
Ball
Fish
Dog
Cat

In [9]:
s={}
type(s) #dict

dict

In [10]:
s={1,2,3,4,5}
print(type(s))

<class 'set'>

In [11]:
s = set()
s.add("Apple")                     #add() only adds one data at a time not multiple data
s.add("Ball")
s.add("Cat")
s.add("Dog")
print(s)

{'Dog', 'Cat', 'Apple', 'Ball'}

In [12]:
a = {1,2,3,4,5}
b = {6,7,8}
c = a+b                    #no concatenation in set
print(c)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [13]:
#update

a = {1,2,3,4,5}
a.update({3,4,5,6,7,8,9})
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [15]:
companies = {'Lacoste', 'Ralph Lauren'}
tech_companies = {'apple', 'google', 'apple'}
companies.update(tech_companies)

print(companies)

{'google', 'Lacoste', 'Ralph Lauren', 'apple'}

In [16]:
a = {1,2,3,4,5}
a.remove(1)
a

{2, 3, 4, 5}

In [19]:
a = [1,2,3,4,2,4,1,4,5,6,3,1,3,5,6,5]
a = set(a)                           #creates set and removes duplicates
a

{1, 2, 3, 4, 5, 6}

In [21]:
a = {1,3,5,7,9}
b = {6,7,8,9,10}

print(a.intersection(b))
print(a)
print(b)

{9, 7}
{1, 3, 5, 7, 9}
{6, 7, 8, 9, 10}

In [27]:
a = {1,3,5,7,9}
b = {6,7,8,9,10}

u = a.union(b)
print(u)

{1, 3, 5, 6, 7, 8, 9, 10}

In [25]:

print(a.difference(b))
print(a)
print(b)

{1, 3, 5}
{1, 3, 5, 7, 9}
{6, 7, 8, 9, 10}

In [26]:

print(b.difference(a))
print(a)
print(b)

{8, 10, 6}
{1, 3, 5, 7, 9}
{6, 7, 8, 9, 10}

In [28]:
U = {1,2,3,4,5,6,7,8,9,10}               #universal set

In [29]:
print(U-u)

{2, 4}

In [37]:

U = {'xyz','abc','Krish', 'Ram', 'Nabin', 'Steave', 'Bill', 'Robin', 'Satya', 'Sita', 'Sam', 'Jhon', 'Jack', 'Sabin'}

apple = {"Steave","Robin","Jack","Nabin","Sam","Krish"}
MS = {"Bill","Jhon","Ram","Satya","Sam","Sabin","Sita"}

am = apple.intersection(MS)
print(am)

un = apple.union(MS)
print(un)

ap = apple - MS
print(ap)
print(apple.difference(MS))

om = MS - apple
print(om)
print(MS.difference(apple))

print(U-un)           #universal set - union of sets

{'Sam'}
{'Krish', 'Ram', 'Nabin', 'Steave', 'Bill', 'Robin', 'Satya', 'Sita', 'Sam', 'Jhon', 'Jack', 'Sabin'}
{'Krish', 'Nabin', 'Robin', 'Steave', 'Jack'}
{'Krish', 'Nabin', 'Robin', 'Steave', 'Jack'}
{'Ram', 'Bill', 'Satya', 'Sita', 'Jhon', 'Sabin'}
{'Ram', 'Bill', 'Satya', 'Sita', 'Jhon', 'Sabin'}
{'xyz', 'abc'}

In [46]:
job = {'python','django','restapi','ml','tensorflow','pytorch'}
profile = {'python','django','html','css'}

len_skill=len(job.intersection(profile))
print(len_skill)

job_skill_len = len(job)
print(job_skill_len)

chance = len_skill/job_skill_len*100
print(chance)

2
6
33.33333333333333

In [47]:
job = {'python','django','restapi','ml','tensorflow','pytorch'}     #superset to profile set
profile = {'python','django'}

print(profile.issuperset(job))

False

In [48]:
print(profile.issubset(job))

True

In [49]:
print(job.issuperset(profile))

True

In [50]:
s = {(1,2,3),(4,5,6)}                    #tuple can be inside set
s

{(1, 2, 3), (4, 5, 6)}

In [53]:
s = {[1,2,3],[4,5,6]}                    #no list inside set, set should not contain mutable data
s

TypeError: unhashable type: 'list'

In [52]:
s = {{1,2,3},{4,5,6,7}}                  #no set inside set, no mutable data should be inside list
s

TypeError: unhashable type: 'set'