In [1]:
# strings

# imutable datatype

In [2]:
a= 'Hello World'
b= "Hello World"
c='''Hello World'''
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [4]:
a = "Hello World. "
b = "I am Python."
c = a+b
print(c)

Hello World. I am Python.

In [8]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [10]:
a="Python"
for i in a:
    print(i)

P
y
t
h
o
n

In [11]:
a="Python"
for i in a:
    print(i, end="")

Python

In [12]:
a="100"
for i in a:
    print(i)

1
0
0

In [4]:
a = "Hello World I am Python"
print(a[2])           #string indexing
print(a[0:5])         #string slicing
print(a[0:23:2])      #step 2

l
Hello
HloWrdIa yhn

In [5]:
a = "Hello World I am Python"
print(len(a))

23

In [6]:
a = "Python"
print(a[0])
print(a[-1])       #negative indexing

P
n

In [8]:
a = "Python"
print(a[-1:-7:-1])

nohtyP

In [13]:
a= "Hello World  I am Python"
print(a[::-1])

nohtyP ma I  dlroW olleH

In [11]:
a = "Python"
print(a[-1:-6:-1])

nohty

In [18]:
a= "Hello World  I am Python"
n = len(a)
for i in range(n):
    print(a[i], end="")

Hello World  I am Python

In [4]:
a= "Hello World  I am Python"
n = len(a)
i=0
while i<n:
    print(a[i], end="")
    i+=1

Hello World  I am Python

In [7]:
# WAP to find index of " " in 
# a= "Hello World  I am Python"

a= "Hello World I am Python"

i=0
while i<len(a):
    if a[i]==" ":
        print("Found at index",i)
    else:
        print("Finding...")
    i+=1

Finding...
Finding...
Finding...
Finding...
Finding...
Found at index 5
Finding...
Finding...
Finding...
Finding...
Finding...
Found at index 11
Finding...
Found at index 13
Finding...
Finding...
Found at index 16
Finding...
Finding...
Finding...
Finding...
Finding...
Finding...

In [29]:
# string formatting

name="Ram"
age= 34
add="Kathmandu"

#info="Hello World I am "+name+ " I am  "+ str(age) + "I am from" +add      #old method

info = f"Hello World, I am {name}. I am {age}. I am from {add}"       #string formatting
print(info)

Hello World, I am Ram. I am 34. I am from Kathmandu

In [9]:
# WAP to create a billing system using string formatting.

bill=""
all_total=0

n= int(input("Enter n="))
for i in range(n):
    name=input("Enter product name: ")
    price=float(input("Enter the price: "))
    qty=int(input("Enter the quantity: "))
    total=price*qty
    bill=f"{bill} {name} {price} {qty} {total}""\n"
    all_total = all_total+total
print(bill)
print(all_total)

Enter n=2
Enter product name: Pen
Enter the price: 20
Enter the quantity: 5
Enter product name: Paper
Enter the price: 40
Enter the quantity: 7
 Pen 20.0 5 100.0
 Paper 40.0 7 280.0

380.0

In [52]:
# Search in string

a = "Ram Shyam Hari Sita Ram Prakash Yogesh Ram Sita"
name= input("Enter name= ")

if name in a:
    print("Yes, there is", name)
    print(a.count(name))
else:
    print("There is no such name")

Enter name= Ram
Yes, there is Ram
3

In [44]:
a = "Ram Shyam Hari Sita Ram Prakash Yogesh Ram Sita"
print(a.upper())
print(a.lower())

RAM SHYAM HARI SITA RAM PRAKASH YOGESH RAM SITA
ram shyam hari sita ram prakash yogesh ram sita

In [6]:
a = "Ram Shyam Hari Sita Ram Prakash Yogesh Ram Sita"
a = a.lower()
print(a)

ram shyam hari sita ram prakash yogesh ram sita

'ram shyam hari sita ram prakash yogesh ram sita'

In [60]:
a = "Ram Shyam Hari Sita Ram Prakash Yogesh Ram Sita".upper()
name= input("Enter name= ").upper()

if name in a:
    print("Yes, there is", name)
    print(a.count(name))
else:
    print("There is no such name")

Enter name= RaM
Yes, there is RAM
3

In [57]:
a = "Ram Shyam Hari Sita Ram Prakash Yogesh Ram Sita".lower()
name= input("Enter name= ").lower()

if name in a:
    print("Yes, there is", name)
    print(a.count(name))
else:
    print("There is no such name")

Enter name= ram
Yes, there is ram
3

In [61]:
a = "Ram Shyam Hari Sita Ramesh Prakash Yogesh Ram Sita".lower()    #string sees Ramesh as Ram . It is a limitation.
name= input("Enter name= ").lower()

if name in a:
    print("Yes, there is", name)
    print(a.count(name))
else:
    print("There is no such name")

Enter name= Ram
Yes, there is ram
3

In [69]:
a = "Ram Shyam Hari Sita Ram"
a= a.replace("Ram", "ram")
print(a)

ram Shyam Hari Sita ram

In [70]:
a = "Ram Shyam Hari Sita Ram"
a= a.replace("Ram ", "ram ")             #space after Ram
print(a)

ram Shyam Hari Sita Ram

In [68]:
a = "Ram Shyam Hari Sita Ram"
a= a.replace("Ram", "")
print(a)

 Shyam Hari Sita