In [1]:
# Tuples
#-Indexing
#-Ordered
#-Multiple and duplicate data
#-Imutable

In [5]:
t= tuple()
print(type(t))

<class 'tuple'>

In [3]:
t=(1,2,3,4,5,6,7,8)
print(type(t))

<class 'tuple'>

In [6]:
t=(1,)                          #comma after only 1 element
print(type(t))

<class 'tuple'>

In [7]:
#-Cannot create tuple   (append(), insert(), extend())
#-Cannot update tuple   (sort())
#-Cannot delete tuple   (del pop() remove())
#-Can only read tuple through loop and index
#-Mostly used for static data
#-More lightweiht than list

In [10]:
t=("Apple","Ball","Cat","Apple")
print(t)
print(t[0])

('Apple', 'Ball', 'Cat', 'Apple')
Apple

In [11]:
a=(245,276,287,237,376,347,563,476)
print(max(a))
print(min(a))
print(sum(a))

563
237
2807

In [13]:
t=("Apple","Ball","Cat","Apple")
if "Apple" in t:
    print("Yes")
    print(t.count("Apple"))

Yes
2

In [15]:
t=("Apple","Ball","Cat","Apple")
t.index("Apple")
t

('Apple', 'Ball', 'Cat', 'Apple')

In [21]:
a=(1,2,3,4,5)               #no changes in a and b
b=(6,7,8)
c=a+b
print(c) 
print(a)
print(b)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5)
(6, 7, 8)

In [20]:
a=(1,2,3,4,5)
print(a*2)
print(a)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)

In [25]:
t=()
n=int(input("Enter the value of n: "))
for i in range(n):
    x = input("Enter the value of x: ")
    t = t+(x,)
print(t)

Enter the value of n: 4
Enter the value of x: Apple
Enter the value of x: Ball
Enter the value of x: Cat
Enter the value of x: Dog
('Apple', 'Ball', 'Cat', 'Dog')

In [26]:
a = "Apple"
tuple(a)

('A', 'p', 'p', 'l', 'e')

In [27]:
list("Apple")

['A', 'p', 'p', 'l', 'e']

In [30]:
a = ('Apple', 'Ball', 'Cat', 'Dog', 'Apple')
a = list(a)
a

['Apple', 'Ball', 'Cat', 'Dog', 'Apple']

In [31]:
del a[0]                           #converting tuple to list for deleting
a = tuple(a)
a

('Ball', 'Cat', 'Dog', 'Apple')

In [32]:
# tuple inside tuple

t = ((1,2,3),
    (4,5,6),
    (7,8,9))
print(t)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [34]:
t[0][2]

3

In [35]:
#creating tuple inside tuple

info=()
n=int(input("Enter n= "))
for i in range(n):
    name= input("Enter name: ")
    age= int(input("Enter age: "))
    add= input("Enter address: ")
    x=(name,age,add)
    info=info+(x,)
    
print(info)

Enter n= 2
Enter name: Ram
Enter age: 35
Enter address: KTM
Enter name: Hari
Enter age: 32
Enter address: PKR
(('Ram', 35, 'KTM'), ('Hari', 32, 'PKR'))

In [36]:
# list inside tuple

t= (['Ram', 35, 'KTM'], ['Hari', 32, 'PKR'])
t

(['Ram', 35, 'KTM'], ['Hari', 32, 'PKR'])

In [37]:
t[0]

['Ram', 35, 'KTM']

In [38]:
#tuple inside list

t= [('Ram', 35, 'KTM'), ('Hari', 32, 'PKR')]
t

[('Ram', 35, 'KTM'), ('Hari', 32, 'PKR')]

In [40]:
t[1]

('Hari', 32, 'PKR')

In [41]:
a = {('Ram','Sita'):973738432,            #keys in dictionary should be immutable so no list
    'Hari':984473743}

In [44]:
a[('Ram','Sita')]

973738432